.modal-container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-container {
  display: flex;
  background-color: var(--color-accent);
  border-radius: 20px;
  border: 0;
  padding: 10px;
  color: white;
  margin: 5px;
}

.image-partner {
  width: 60px;
  height: 60px;
}

.image-container {
  display: flex;
  gap: 12px;
  margin: 12px 0;
}
