<div class="footer-container">
  <div class="footer-logo-section">
    <div class="footer-image">
      <img src="../../assets/logo/edutop.png" alt="" />
    </div>
    <div class="footer-socmed">
      <img src="../../assets/social-media-icon/facebook.svg" alt="facebook" />
      <img src="../../assets/social-media-icon/instagram.svg" alt="instagram" />
      <img src="../../assets/social-media-icon/tiktok.svg" alt="tiktok" />
      <img src="../../assets/social-media-icon/x.svg" alt="x" />
    </div>
  </div>

  <div class="footer-address-section">
    <div class="footer-title">Find Us!</div>
    <div class="footer-item">
      Jl Raya Kebayoran Lama No 198 B <br />
      Jakarta barat <br />1150
    </div>
    <div class="footer-telp">(021)5492647 / (021)5481028</div>
  </div>
</div>

<div class="footer-copyright">
  <div class="footer-copyright">© 2024 Edutop. All rights reserved.</div>
</div>
