<div class="footer-container">
  <div class="footer-logo-section">
    <div class="footer-image">
      <img src="../../assets/logo/edutop.png" alt="" />
    </div>
    <div class="footer-copyright">
      © 2022 Edutop. <br />All rights reserved.
    </div>
    <div class="footer-socmed"></div>
  </div>

  <div class="footer-address-section">
    <div class="footer-title">Find Us!</div>
    <div class="footer-item">
      Jl Raya Kebayoran Lama No 198 B <br />
      Jakarta barat <br />1150
    </div>
    <div class="footer-telp">(021)5492647 / (021)5481028</div>
  </div>

  <div class="footer-nav-section">
    <div class="footer-title">Learn More</div>
    <div class="footer-item">Home</div>
    <div class="footer-item">Product</div>
    <div class="footer-item">About</div>
    <div class="footer-item">Partner</div>
    <div class="footer-item">Contact</div>
  </div>
</div>
