img.iso {
  height: 60px;
  width: 60px;
}

img.catalog,
img.tkdn {
  width: 70px;
  height: 30px;
}

.footer- {
  &container {
    margin-top: 100px;
    display: flex;
    justify-content: unset;
    align-items: unset;
    background-color: floralwhite;
    padding: unset;
    color: black;
    flex-direction: column;
  }

  &logo-gov {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    margin: 36px 24px;
  }

  &copyright {
    text-align: center;
    background-color: floralwhite;
    width: 100%;
    color: black;
  }

  &socmed {
    display: flex;
    justify-content: unset;
    gap: 12px;
    cursor: pointer;
    padding-left: 24px;
  }

  &href {
    height: 24px;
    width: 24px;
  }

  &title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 35px;
  }

  &item {
    font-size: 16px;
  }

  &image {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 15px;
    img {
      display: flex;
      width: 100px;
      height: 100px;
      transform: scale(1.5);
    }
  }

  &address-section {
    padding: 35px 0 35px 24px;
  }
}

@media screen and (min-width: 576px) {
  img.iso {
    height: 90px;
    width: 90px;
  }

  img.catalog,
  img.tkdn {
    width: 100px;
    height: 60px;
  }
  .footer- {
    &container {
      margin-top: 100px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: floralwhite;
      padding: 50px 208px;
      color: black;
      flex-direction: unset;
    }

    &copyright {
      text-align: center;
      background-color: floralwhite;
      width: 100%;
      color: black;
    }

    &logo-gov {
      display: flex;
      flex-direction: row;
      gap: 24px;
      margin: 0 24px;
    }

    &socmed {
      display: flex;
      justify-content: center;
      gap: 12px;
      cursor: pointer;
      padding-left: unset;
    }

    &title {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 35px;
    }

    &item {
      font-size: 16px;
    }

    &image {
      img {
        width: 170px;
        height: 170px;
      }
    }

    &address-section {
      padding: unset;
    }
  }
}
