<div class="footer-container">
  <div class="footer-logo-section">
    <div class="footer-image">
      <img src="../../assets/logo/edutop.png" alt="" />
      <img src="../../assets/logo/abadi-clear.png" alt="" />
    </div>
  </div>

  <div class="footer-address-section">
    <div class="footer-title">Find Us!</div>
    <div class="footer-socmed">
      <a class="footer-href" href="https://www.linkedin.com/company/edutop/"
        ><img
          src="../../assets/social-media-icon/linkedin.svg"
          alt="linkedin"
        />
      </a>
      <div style="display: flex; align-items: center">Edutop</div>
      <a
        class="footer-href"
        href="https://www.instagram.com/edutop.id?igsh=MTJ6MnljcXIyb280Yw=="
        ><img
          src="../../assets/social-media-icon/instagram.svg"
          alt="instagram"
        />
      </a>
      <div style="display: flex; align-items: center">&#64;edutop.id</div>
    </div>
    <div class="footer-item">
      Jl Raya Kebayoran Lama No 198 B <br />
      Jakarta barat, 11560
    </div>
    <div class="footer-telp">(021)5492647 / (021)5481028</div>
  </div>

  <div class="footer-logo-gov">
    <img
      class="iso"
      src="../../assets/logo/ISO logo certification.png"
      alt=""
    />
    <img class="catalog" src="../../assets/logo/e-catalog.png" alt="" />
    <img class="tkdn" src="../../assets/logo/TKDN Grey.png" alt="" />
  </div>
</div>

<div class="footer-copyright">
  <div class="footer-copyright">© 2024 Edutop. All rights reserved.</div>
</div>
