<img src="../assets/red-wave.svg" class="img-test" alt="" />

<div class="navbar-section">
  <app-navbar
    (navEmitter)="navHandling($event)"
    (arrowEmitter)="arrowHandling($event)"
  ></app-navbar>
</div>

<img src="../../assets/scatters/circle.svg" class="circle-scatters" alt="" />

<div class="home-section" id="home">
  <app-home (aboutEmitter)="navHandling($event)"></app-home>
</div>

<div class="about-section" id="about">
  <app-about></app-about>
</div>

<div class="product-section" id="product">
  <app-product></app-product>
</div>

<div class="partners-section" id="partner">
  <app-partners></app-partners>
</div>

<div class="contact-section" id="contact">
  <app-contact></app-contact>
</div>

<div class="footer-section">
  <app-footer></app-footer>
</div>

<img
  *ngIf="showArrow"
  src="../assets/chevron-up.svg"
  class="chevron-icon"
  alt="arrow"
  (click)="onArrowClick()"
/>
