.img-test {
  display: none;
}

.navbar-section {
  position: relative;
}

img.chevron-icon {
  width: 48px;
  height: 48px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 24px;
  margin-bottom: 50px;
  cursor: pointer;
}

@media screen and (min-width: 576px) {
  .img-test {
    display: unset;
    position: absolute;
    top: 0;
  }

  .home-section,
  .contact-section {
    margin: 0 208px;
  }
}
