.summary- {
  &container {
    margin-top: 50px;
  }
  &title {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &arrow {
    img {
      width: 32px;
      height: 32px;
      display: flex;
    }
  }

  &divider {
    margin-bottom: 48px;
  }

  &title-text {
    font-weight: 600;
    font-size: 36px;
    color: var(--color-primary);
  }

  &image-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 36px;
  }

  &content-title {
    font-size: 36px;
    margin: 24px 0;
  }

  &content-image {
    max-width: 150px;
    place-self: center;
    img {
      border-radius: 10px;
      width: 150px;
      height: 150px;
      transition: all 0.3s ease-out 0s;
      box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    }
  }
}

.summary-content-image > img:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 576px) {
  .summary-image-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 36px;
  }

  .summary-content-image {
    max-width: 250px;
    img {
      border-radius: 10px;
      width: 250px;
      height: 250px;
      transition: all 0.3s ease-out 0s;
    }
  }
}
