<div class="about-container">
  <div class="about-logo-section">
    <img src="../../assets/logo/edutop.png" alt="" />
    <img src="../../assets/logo/abadifalah-logo.jpg" alt="" />
  </div>

  <div class="about-text-section">
    <div class="title-template">About Us</div>

    <div class="about-description">
      Our founder have experience in educational projects since 1990, we produce
      educational equipment’s and kits, from the kindergarden level until the
      university level, We manufacture educational equipment from the
      kndergarden level until the university level, we provide a wood based
      material for the kindergarden level for added safety and protection, and
      for the higher level educational equipment we design and produce a plastic
      based material for added durability. Our company has been appointed by
      multiple companies around Europe and and Asia to be their distributor in
      the Indonesian market for the university level. We are very eager to
      expand our services to other ministries and provide solutions that you
      require.
    </div>
  </div>
</div>

<div class="vision-mission-container">
  <div class="vision-container">
    <div class="title-template">Our Vision</div>
    <div class="vision-label">
      Helping our clients to successfully finish a project by giving them the
      highest of quality
    </div>
  </div>

  <div class="mission-container">
    <div class="title-template">Our Mission</div>
    <div class="mission-label">
      Ensuring the successful completion of every project is our utmost
      priority. We uphold rigorous standards, compliance with government rules
      and regulations, efficiency, reliability, and quality across all aspects
      of our work.
    </div>
  </div>
</div>
