.nav- {
  &container {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &logo {
    img {
      width: 120px;
      height: 120px;
      cursor: pointer;
    }
  }

  &grid-item {
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 18px;
  }
}
