.contact- {
  &container {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
  }

  &description {
    margin-bottom: unset !important;
  }

  &image {
    img {
      width: 400px;
      height: 400px;
    }
  }

  &email-section {
    width: 500px;
  }
}

.form-email {
  display: flex;
  flex-direction: column;
}

.email-row {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 24px;
}

input,
textarea {
  border-radius: 20px;
  background: var(--color-grey);
  border: 1px solid var(--color-grey);
  font-size: 16px;
  padding: 14px;
}

input.name,
input.email,
input.company,
input.phone {
  width: 50%;
}

input.subject {
  margin-bottom: 24px;
}

textarea.message {
  height: 250px;
}
