<div class="contact-container">
  <div class="contact-greeting-section">
    <div class="title-template">Let's Stay Connected</div>
    <div class="description-template contact-description">
      Reach Out To Our Team!
    </div>
    <div class="contact-image">
      <img src="../../assets/hero/email.svg" alt="" />
    </div>
  </div>

  <div class="contact-email-section">
    <form class="form-email">
      <div class="email-row">
        <input type="text" class="name" placeholder="Enter your name" />
        <input type="email" class="email" placeholder="Enter your email" />
      </div>

      <div class="email-row">
        <input type="text" class="company" placeholder="Company (Optional)" />
        <input
          type="text"
          class="phone"
          placeholder="Enter your phone number"
        />
      </div>

      <input type="text" class="subject" placeholder="Subject" />
      <textarea class="message" placeholder="Write your message"></textarea>
    </form>
  </div>
</div>
