.contact- {
  &container {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    gap: 60px;
  }

  &greeting-section {
    width: 50%;
  }

  &description {
    margin-bottom: unset !important;
  }

  &image {
    img {
      width: 400px;
      height: 400px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
    }
  }

  &email-section {
    width: 50%;
  }

  &button {
    margin-top: 48px;
    border-radius: 5px;
    color: white;
    background-color: var(--color-accent);
    font-size: 18px;
    width: fit-content;
    padding: 12px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    text-align: center;
  }
}

.form-email {
  display: flex;
  flex-direction: column;
}

.email-row {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 24px;
}

input,
textarea {
  border-radius: 20px;
  background: var(--color-grey);
  border: 1px solid var(--color-grey);
  font-size: 16px;
  padding: 14px;
}

input.name,
input.email,
input.company,
input.phone {
  width: 50%;
}

input.subject {
  margin-bottom: 24px;
}

textarea.message {
  height: 250px;
}
