<div class="partner-container">
  <div class="title-template">Our Partners</div>

  <div class="description-template">Discover Our Previous Project</div>

  <img src="../../assets/pinmap.svg" class="pin gorontalo" alt="" />
  <img src="../../assets/pinmap.svg" class="pin jakarta" alt="" />
  <img src="../../assets/pinmap.svg" class="pin malang" alt="" />
  <img src="../../assets/pinmap.svg" class="pin kaltim" alt="" />
  <img src="../../assets/pinmap.svg" class="pin makasar" alt="" />
  <img src="../../assets/pinmap.svg" class="pin manado" alt="" />
  <img src="../../assets/pinmap.svg" class="pin palembang" alt="" />

  <div class="partner-map-section">
    <img src="../../assets/indonesia.png" alt="" />
  </div>
</div>
