.pin {
  width: 24px;
  height: 24px;
  position: absolute;
}

.gorontalo {
  right: 610px;
  margin-top: 35px;
}

.jakarta {
  left: 500px;
  margin-top: 350px;
}

.malang {
  margin-top: 430px;
  left: 620px;
}

.kaltim {
  margin-top: 70px;
  margin-right: 40px;
}

.makasar {
  margin-top: 270px;
  margin-left: 80px;
}

.manado {
  margin-left: 170px;
  margin-top: 40px;
}

.palembang {
  left: 430px;
  margin-top: 250px;
}

.partner- {
  &container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }

  &map-section {
    img {
      width: 400px;
    }
  }
}

@media screen and (min-width: 576px) {
  .partner-map-section {
    img {
      width: 1000px;
    }
  }
}
