.pin {
  width: 18px;
  height: 18px;
  position: absolute;
  cursor: pointer;
}

.gorontalo {
  margin-top: 190px;
  margin-left: 100px;
}

.jakarta {
  margin-top: 320px;
  margin-right: 190px;
}

.malang {
  margin-top: 350px;
  margin-right: 100px;
}

.kaltim {
  margin-top: 200px;
  margin-right: 25px;
}

.makasar {
  margin-top: 270px;
  margin-left: 30px;
}

.manado {
  margin-left: 50px;
  margin-top: 200px;
}

.palembang {
  margin-right: 260px;
  margin-top: 250px;
}

.partner- {
  &container {
    background-color: var(--color-grey);
    padding: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }

  &map-section {
    img {
      width: 400px;
    }
  }
}

@media screen and (min-width: 576px) {
  .pin {
    width: 24px;
    height: 24px;
    position: absolute;
    cursor: pointer;
  }

  .gorontalo {
    margin-left: 240px;
    margin-top: 35px;
  }

  .jakarta {
    margin-right: 470px;
    margin-top: 350px;
  }

  .malang {
    margin-top: 430px;
    margin-right: 199px;
  }

  .kaltim {
    margin-top: 70px;
    margin-right: 40px;
  }

  .makasar {
    margin-top: 270px;
    margin-left: 80px;
  }

  .manado {
    margin-left: 170px;
    margin-top: 40px;
  }

  .palembang {
    margin-right: 600px;
    margin-top: 250px;
  }

  .partner-map-section {
    img {
      width: 1000px;
    }
  }
}
