<img src="../assets/red-wave.svg" class="img-test" alt="" />

<div class="container">
  <div class="navbar-section">
    <app-navbar></app-navbar>
  </div>

  <div class="home-section">
    <app-home></app-home>
  </div>

  <div class="product-section">
    <app-product></app-product>
  </div>

  <div class="about-section">
    <app-about></app-about>
  </div>

  <div class="partners-section">
    <app-partners></app-partners>
  </div>

  <div class="contact-section">
    <app-contact></app-contact>
  </div>

  <div class="footer-section">
    <app-footer></app-footer>
  </div>
</div>
