<div class="product-container">
  <div class="product-title">Our Products</div>

  <div class="product-description">
    Stop wasting time and money designing and managing a website that doesn’t
    get results. Happiness guaranteed!
  </div>

  <div class="product-images">
    <img
      src="../../assets/product/higher-education/electrical-engineering.jpg"
    />
    <img src="../../assets/product/higher-education/mechatronic.jpg" />
    <img src="../../assets/product/higher-education/oil-pumping.jpg" />
    <img src="../../assets/product/hardware/laptop-acer.jpg" />
    <img src="../../assets/product/hardware/laptop-zyrex.jpeg" />
    <img src="../../assets/product/hardware/viewboard.jpg" />
    <img src="../../assets/product/paud/meja-paud.png" />
    <img src="../../assets/product/paud/alat-main1.jpg" />
  </div>

  <div class="product-more-button">More products</div>
</div>
